@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&family=Raleway:wght@300;400;500;600;700;800;900&family=Roboto:wght@400;500;700;900&display=swap');

:root {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 400;
    --primary-color: #3f80e9;
    --secondary-color: hsl(37, 76%, 62%);
    --primary-light-color: #bbd2f7;
    --secondary-light-color: hsl(37, 76%, 85%);
    --primary-dark-color: #192d4d;
    --secondary-dark-color: hsl(37, 51%, 20%);
    --cta-color: #0ea472;
    --warning-color: #f8bc54;
    --danger-color: #f43e5c;
    --light-base-color: #fff;
    --light-base-color-2: #e0e0e0;
    --light-base-color-3: #f5f5f5;
    --gray-base-color: #777;
    --dark-base-color: #18181B;
    --dark-base-color-2: #333;
    --dark-base-color-3: #374151;
    --line-border-fill: #3f80e9;
    --line-border-empty: #e0e0e0;
}

* {
    box-sizing: border-box;
}

body {

    margin: 0;
    background-color: #333;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.container {

    background-color: #fff;
    min-width: 100vw;
    min-height: 100vh;
    padding: 80px 20px;
    transform-origin: top left;
    transform: transform 0.5s linear;
}

.show-nav {
    transform: rotate(-10deg);
}

.rotate-circle {
    transform: rotate(-35deg);
    transform-origin: top left;
    position: absolute;
    top: 70px;
    left: 5px;
}

.circle-container {

    display: flex;
    position: absolute;
    background-color: cornflowerblue;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    left: -100px;
    top: -100px;
}

.content {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    max-height: 100vh;
    max-width: 100vw;

}

.content img {

    width: 70vw;
    display: flex;

}

button {
    display: flex;
    color: #fff;
    z-index: 100;
    position: absolute;
    top: 120px;
    left: 120px;
    font-size: 25px;
    background-color: transparent;
    border: 0;
}

#close {
    display: flex;
    color: #fff;
    z-index: 100;
    position: absolute;
    top: 120px;
    left: 60px;
    font-size: 25px;
    background-color: transparent;
    border: 0;
    transform: rotate(90deg);
    transform-origin: top left;
}

h1,
h3,
small {

    display: flex;
    align-self: flex-start;

}

nav {
    display: flex;
    position: fixed;
    bottom: 30px;
    left: 0;
    z-index: -1;
    transition: transform 0.4s ease-in;

}

ul {
    text-decoration: none;
    list-style-type: none;

}

li {
    margin-bottom: 20px;
    color: white;
}

li i {
    margin-right: 10px;
    color: white;
}