@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&family=Raleway:wght@300;400;500;600;700;800;900&family=Roboto:wght@400;500;700;900&display=swap');

:root {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 400;
    --primary-color: #3f80e9;
    --secondary-color: hsl(37, 76%, 62%);
    --primary-light-color: #bbd2f7;
    --secondary-light-color: hsl(37, 76%, 85%);
    --primary-dark-color: #192d4d;
    --secondary-dark-color: hsl(37, 51%, 20%);
    --cta-color: #0ea472;
    --warning-color: #f8bc54;
    --danger-color: #f43e5c;
    --light-base-color: #fff;
    --light-base-color-2: #e0e0e0;
    --light-base-color-3: #f5f5f5;
    --gray-base-color: #777;
    --dark-base-color: #18181B;
    --dark-base-color-2: #333;
    --dark-base-color-3: #374151;
    --line-border-fill: #3f80e9;
    --line-border-empty: #e0e0e0;
}


/* Some default styles I made to use often */
/* Buttons */
/* .btn {
    regular button
    font-family: inherit;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 8px 30px;
    resize the button here, in case you need
    width: 80px;
    cursor: pointer;
    transition: opacity 0.3s ease 0s, background-color 0.3s ease 0s, color 0.3s ease 0s, box-shadow 0.3s ease 0s, background 0.3s ease 0s;
    border: 0;
} */



* {
    box-sizing: border-box;
}

/* HERE STARTS THE CUSTOM CSS */

body {

    display: flex;
    background-color: var(--dark-base-color-2);
    color: var(--dark-base-color);
    overflow-x: hidden;
    margin: 0;
}

.container {
    background-color: #fafafa;
    transform-origin: top left;
    transform: transform 0.5s linear;
    min-width: 100vw;
    min-height: 100vh;
    padding: 50px;
    padding-top: 10vh;
}

.container.show-nav {
    transform: rotate(-20deg);
}

button {
    border: 0;
}

li,
ul {
    text-decoration: none;
    list-style-type: none;
}

.content img {
    max-width: 100%;
    height: auto;
}

.circle-container {
    position: fixed;
    top: -100px;
    left: -100px;
}

.circle {
    background-color: var(--secondary-light-color);
    height: 13rem;
    width: 13rem;
    border-radius: 50%;
    position: relative;
    transition: tramsform 0.5s linear;

}

.circle button {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100px;
    background: transparent;
    border: 0;
    font-size: 1.5rem;
    color: var(--light-base-color);
    cursor: pointer;
}

.circle button:focus {
    outline: none;
}

.circle button#open {
    left: 60%;
}

.circle button#close {
    top: 60%;
    transform: rotate(90deg);
    transform-origin: top left;
}