:root {

    font-weight: 400;
    text-decoration: none;
    border: none;
    font-family: 'Fira Code', -apple-system, 'roboto', 'Open Sans', 'helvetica', 'poppins', sans-serif;
    --color-base-light-main: #ececec;
    --color-base-light-secondary: #fff;
    --color-base-dark-1: hsla(0, 0%, 56%, 0.445);
    --color-base-dark-2: #888888;
    --color-base-dark-3: #bcbcbc;
    --color-accent-primary-lighter: #ff7cde;
    --color-accent-primary-darker: #62557a;
    --color-accent-primary: #8d5cff;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--color-base-light-secondary);

}

/*This is the background, a lottiefile .JSON*/
lottie-player {

    width: 100%;
    height: auto;
    text-align: center;
    opacity: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    color: var(--color-accent-primary-darker);
    padding: 2rem;
    margin: 0;
    background-color: #ecececd5;
}

/* This is the wrapper where all the code is inside */
#bg-calculator-group {

    height: 90vh;
    display: flex;
    margin: auto;
    border-radius: 1.5rem;

}

/* This is the body of the calculator */

.calc-group {
    border: 0px;
    background-color: var(--color-base-light-main);
    height: 79vh;
    width: auto;
    min-width: 448px;
    margin: auto;
    box-shadow: 0 8px 32px 0 hsla(236, 63%, 33%, 0.2);
    border-radius: 2rem;
    overflow: hidden;
    z-index: 1;
}

/* This is the keys+screen part of thecalculator, without the borders of the body */
.calc {
    width: 85%;
    height: 85%;
    color: var(--color-accent-primary-darker);
    margin: auto;
}

/* This is the screen of the calculator, a section tag inside calc-group class */
.screen {
    height: 10rem;
    font-size: 3rem;
    text-align: right;
    padding-right: 1rem;
    padding-top: 3rem;
    border-radius: 0.4rem;
    background: var(--color-base-light-main);
    box-shadow: inset 7px 7px 14px hsla(120, 1%, 79%, 0.7),
        inset -7px -7px 14px hsla(0, 0%, 100%, 0.7);
    margin-top: 3.125rem;
    margin-bottom: 1.25rem;
    margin-left: 0.625rem;
    margin-right: 0.625rem;
}

/* same as the screen class, a child of calc-group */
.calc-button {
    color: var(--color-accent-primary-darker);
    height: 4.875rem;
    width: 4.75rem;
    border: 0;
    font-size: 2.2rem;
    cursor: pointer;
    border-radius: 0.4rem;
    background: #eeefee;
    box-shadow: 7px 7px 14px #cacbca,
        -7px -7px 14px #fff;
    margin: 0.7rem;
}

.calc-button:hover {
    color: var(--color-base-dark-2);
}

.calc-button:active {
    border-radius: 0.4rem;
    background: linear-gradient(145deg, #d6d7d6, #fff);
    box-shadow: 7px 7px 14px #cacbca,
        -7px -7px 14px #fff;
}

.calc-button:last-child {
    color: var(--color-accent-primary);
}

.calc-button:last-child:hover {
    color: var(--color-accent-primary-lighter);
}

.calc-button:last-child:active {
    border-radius: 0.4rem;
    background: linear-gradient(145deg, #d6d7d6, #fff);
    box-shadow: 7px 7px 14px #cacbca,
        -7px -7px 14px #fff;
    color: var(--color-accent-primary-darker);
}

/* to make the C button double size */
.double {
    width: 11.25rem;
    color: var(--color-accent-primary);
}

.double:hover {
    color: #ff7cde;
}

/* to make the ZERO button tripe size */
.triple {
    width: 17.5rem;
}

/* each row of the calculator, like (3 2 1 +) */
.calc-row {
    display: flex;
    align-content: stretch;
    justify-content: space-between;
    margin-bottom: 0.5%;
}

/* The p tag with my name at the bottom of the page */
.devby {
    font-size: 1rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    display: block;
    position: absolute;
    width: 100%;
    padding: 1.5rem;
    margin: auto;
    text-align: center;
    bottom: -1;
    color: var(--color-accent-primary-darker);
    background-color: #ececec80;
}

.fa-user-astronaut {
    color: var(--color-accent-primary-darker);
    font-size: 1.5rem;
}

/* sequence of media queries to adjust the responsiveness for different screen sizes. */
@media(max-width: 53.125rem) {
    body {
        overflow: visible;
        overflow-x: hidden;
        height: auto;
    }

    h1 {
        font-size: 2rem;
        text-align: center;
        margin-bottom: 2rem;
    }

    #bg-calculator-group {
        height: 100vh;
        display: flex;
        margin: auto;
        border-radius: 1.5rem;

    }

    .calc-group {
        border: 0px;
        background-color: var(--color-base-light-main);
        width: auto;
        min-width: 448px;
        min-height: 100%;
    }

    .screen {
        height: 8rem;
        padding-top: 2rem;
    }

    lottie-player {

        height: auto;
        width: 360%;
        opacity: 1;
        display: flex;
        margin: 0;
        overflow: hidden;
        position: fixed;
        bottom: 0;
    }

    .devby {
        position: static;
        width: 100%;
        padding: 1.5rem;
        margin: auto;
        text-align: center;
        bottom: 0;
        color: var(--color-accent-primary-darker);
        background-color: #ececec80;
    }
}

@media(min-width: 52.5rem) {

    lottie-player {

        height: auto;
        width: 178%;
        opacity: 1;
        display: flex;
        margin: 0;
        overflow: hidden;
        position: fixed;
        bottom: 0;
    }

}

@media(min-width: 62.5rem) {

    lottie-player {

        height: auto;
        width: 140%;
        opacity: 1;
        display: flex;
        margin: 0;
        overflow: hidden;
        position: fixed;
        bottom: 0;
    }

}

@media(min-width: 81.25rem) {

    lottie-player {

        height: auto;
        width: 107%;
        opacity: 1;
        display: flex;
        margin: 0;
        overflow: hidden;
        position: fixed;
        bottom: 0;
    }

}

@media(min-width: 106rem) {

    lottie-player {

        height: auto;
        width: 100%;
        opacity: 1;
        display: flex;
        margin: 0;
        overflow: hidden;
        position: fixed;
        bottom: 0;
    }

}