:root {

    font-family: 'fira code', monospace;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    border: none;
    --color-bg-light-numbers: #d3d3d3;
    --color-bg-light-operators: #ffc342;
    --color-bg-darker-numbers: #808080;
    --color-bg-darker-operators: #ffa500;
    --color-bg-visor: #1b1c1e;
    --color-font-visor: #fff;
    --color-font-numbers-dark: #1b1c1e;
    --color-font-numbers-light: #fff;

}


body {
    background-color: #090909;
    background-image: url("data:image/svg+xml,%3Csvg width='180' height='180' viewBox='0 0 180 180' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M81.28 88H68.413l19.298 19.298L81.28 88zm2.107 0h13.226L90 107.838 83.387 88zm15.334 0h12.866l-19.298 19.298L98.72 88zm-32.927-2.207L73.586 78h32.827l.5.5 7.294 7.293L115.414 87l-24.707 24.707-.707.707L64.586 87l1.207-1.207zm2.62.207L74 80.414 79.586 86H68.414zm16 0L90 80.414 95.586 86H84.414zm16 0L106 80.414 111.586 86h-11.172zm-8-6h11.173L98 85.586 92.414 80zM82 85.586L87.586 80H76.414L82 85.586zM17.414 0L.707 16.707 0 17.414V0h17.414zM4.28 0L0 12.838V0h4.28zm10.306 0L2.288 12.298 6.388 0h8.198zM180 17.414L162.586 0H180v17.414zM165.414 0l12.298 12.298L173.612 0h-8.198zM180 12.838L175.72 0H180v12.838zM0 163h16.413l.5.5 7.294 7.293L25.414 172l-8 8H0v-17zm0 10h6.613l-2.334 7H0v-7zm14.586 7l7-7H8.72l-2.333 7h8.2zM0 165.414L5.586 171H0v-5.586zM10.414 171L16 165.414 21.586 171H10.414zm-8-6h11.172L8 170.586 2.414 165zM180 163h-16.413l-7.794 7.793-1.207 1.207 8 8H180v-17zm-14.586 17l-7-7h12.865l2.333 7h-8.2zM180 173h-6.613l2.334 7H180v-7zm-21.586-2l5.586-5.586 5.586 5.586h-11.172zM180 165.414L174.414 171H180v-5.586zm-8 5.172l5.586-5.586h-11.172l5.586 5.586zM152.933 25.653l1.414 1.414-33.94 33.942-1.416-1.416 33.943-33.94zm1.414 127.28l-1.414 1.414-33.942-33.94 1.416-1.416 33.94 33.943zm-127.28 1.414l-1.414-1.414 33.94-33.942 1.416 1.416-33.943 33.94zm-1.414-127.28l1.414-1.414 33.942 33.94-1.416 1.416-33.94-33.943zM0 85c2.21 0 4 1.79 4 4s-1.79 4-4 4v-8zm180 0c-2.21 0-4 1.79-4 4s1.79 4 4 4v-8zM94 0c0 2.21-1.79 4-4 4s-4-1.79-4-4h8zm0 180c0-2.21-1.79-4-4-4s-4 1.79-4 4h8z' fill='%23bbbbbb' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
    color: var(--color-font-numbers-light);
}

header {
    background-color: #4d4d4dd8;
    width: 65vw;
    height: auto;
    border-radius: 20px;
    padding: 1rem 1.5rem;
    margin: auto;
    margin-bottom: 1rem;

}

h1 {
    display: flex;
    font-size: 3rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 2rem;
}

hr {
    width: 50vw;
    margin-bottom: 4rem;
}

#calculator {

    width: 26vw;
    min-width: 375px;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: stretch;
    align-self: center;
    text-align: center;
    margin: auto;
    overflow: hidden;
    border: 2px #1b1c1e solid;
    background-color: #fff;
    border-radius: 2rem;
    padding: 0.5rem;
    justify-items: stretch;
    box-shadow: 5px 5px 55px #000;

}

.calculator-group {
    display: grid;
    width: 100%;
    min-width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 'visor''clear''erase''divide''seven''eight''nine''multiply''four''five''six''subtract''one''two''two''three''add''zero''decimal''equals';
    border: 2px #1b1c1e solid;
    border-radius: 2rem;
    justify-items: stretch;

}

.visor {
    display: flex;
    height: 100%;
    align-items: stretch;
    font-size: 2.5rem;
    justify-content: flex-end;
    align-items: center;
    align-self: center;
    grid-area: visor;
    grid-column: 1 / span 4;
    background-color: #1b1c1e;
    margin: 0;
    border-radius: 2rem 2rem 0 0;
}

.clear {
    display: flex;
    height: 100%;
    align-items: stretch;
    width: 100%;
    font-size: 2.5rem;
    color: var(--color-font-numbers-dark);
    border: 1px var(--color-font-numbers-dark) solid;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    grid-area: clear;
    grid-row: 2;
    grid-column: 1/ span 2;
    background-color: var(--color-bg-light-numbers);
    margin: 0;
}

.erase {
    display: flex;
    height: 100%;
    align-items: stretch;
    width: 100%;
    font-size: 2rem;
    color: var(--color-font-numbers-dark);
    border: 1px var(--color-font-numbers-dark) solid;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    grid-area: erase;
    grid-row: 2;
    grid-column: 3;
    background-color: var(--color-bg-light-numbers);
    margin: 0;

}

.divide {
    display: flex;
    height: 100%;
    align-items: stretch;
    width: 100%;
    font-size: 2.5rem;
    color: var(--color-font-numbers-dark);
    border: 1px var(--color-font-numbers-dark) solid;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    grid-area: divide;
    grid-row: 2;
    grid-column: 4;
    background-color: var(--color-bg-light-operators);
    margin: 0;
}

.multiply {
    display: flex;
    height: 100%;
    align-items: stretch;
    width: 100%;
    font-size: 2.5rem;
    color: var(--color-font-numbers-dark);
    border: 1px var(--color-font-numbers-dark) solid;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    grid-area: multiply;
    grid-row: 3;
    grid-column: 4;
    background-color: var(--color-bg-light-operators);
    margin: 0;
}

.subtract {
    display: flex;
    height: 100%;
    align-items: stretch;
    width: 100%;
    font-size: 2.5rem;
    color: var(--color-font-numbers-dark);
    border: 1px var(--color-font-numbers-dark) solid;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    grid-area: subtract;
    grid-row: 4;
    grid-column: 4;
    background-color: var(--color-bg-light-operators);
    margin: 0;
}

.add {
    display: flex;
    height: 100%;
    align-items: stretch;
    width: 100%;
    font-size: 2.5rem;
    color: var(--color-font-numbers-dark);
    border: 1px var(--color-font-numbers-dark) solid;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    grid-area: add;
    grid-row: 5;
    grid-column: 4;
    background-color: var(--color-bg-light-operators);
    margin: 0;
}

.equals {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: stretch;
    font-size: 2.5rem;
    color: var(--color-font-numbers-dark);
    border: 1px var(--color-font-numbers-dark) solid;
    justify-content: center;
    align-self: center;
    text-align: center;
    grid-area: equals;
    grid-row: 6;
    grid-column: 4;
    background-color: var(--color-bg-light-operators);
    margin: 0;
    border-radius: 0 0 2rem 0;
}

.seven {
    display: flex;
    height: 100%;
    align-items: stretch;
    width: 100%;
    font-size: 2.5rem;
    color: var(--color-font-numbers-dark);
    border: 1px var(--color-font-numbers-dark) solid;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    grid-area: divide;
    grid-row: 3;
    grid-column: 1;
    background-color: var(--color-bg-light-numbers);
    margin: 0;
}

.eight {
    display: flex;
    height: 100%;
    align-items: stretch;
    width: 100%;
    font-size: 2.5rem;
    color: var(--color-font-numbers-dark);
    border: 1px var(--color-font-numbers-dark) solid;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    grid-area: eight;
    grid-row: 3;
    grid-column: 2;
    background-color: var(--color-bg-light-numbers);
    margin: 0;
}

.nine {
    display: flex;
    height: 100%;
    align-items: stretch;
    width: 100%;
    font-size: 2.5rem;
    color: var(--color-font-numbers-dark);
    border: 1px var(--color-font-numbers-dark) solid;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    grid-area: nine;
    grid-row: 3;
    grid-column: 3;
    background-color: var(--color-bg-light-numbers);
    margin: 0;
}

.four {
    display: flex;
    height: 100%;
    align-items: stretch;
    width: 100%;
    font-size: 2.5rem;
    color: var(--color-font-numbers-dark);
    border: 1px var(--color-font-numbers-dark) solid;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    grid-area: four;
    grid-row: 4;
    grid-column: 1;
    background-color: var(--color-bg-light-numbers);
    margin: 0;
}

.five {
    display: flex;
    height: 100%;
    align-items: stretch;
    width: 100%;
    font-size: 2.5rem;
    color: var(--color-font-numbers-dark);
    border: 1px var(--color-font-numbers-dark) solid;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    grid-area: five;
    grid-row: 4;
    grid-column: 2;
    background-color: var(--color-bg-light-numbers);
    margin: 0;
}

.six {
    display: flex;
    height: 100%;
    align-items: stretch;
    width: 100%;
    font-size: 2.5rem;
    color: var(--color-font-numbers-dark);
    border: 1px var(--color-font-numbers-dark) solid;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    grid-area: six;
    grid-row: 4;
    grid-column: 3;
    background-color: var(--color-bg-light-numbers);
    margin: 0;
}

.one {
    display: flex;
    height: 100%;
    align-items: stretch;
    width: 100%;
    font-size: 2.5rem;
    color: var(--color-font-numbers-dark);
    border: 1px var(--color-font-numbers-dark) solid;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    grid-area: one;
    grid-row: 5;
    grid-column: 1;
    background-color: var(--color-bg-light-numbers);
    margin: 0;
}

.two {
    display: flex;
    height: 100%;
    align-items: stretch;
    width: 100%;
    font-size: 2.5rem;
    color: var(--color-font-numbers-dark);
    border: 1px var(--color-font-numbers-dark) solid;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    grid-area: two;
    grid-row: 5;
    grid-column: 2;
    background-color: var(--color-bg-light-numbers);
    margin: 0;
}

.three {
    display: flex;
    height: 100%;
    align-items: stretch;
    width: 100%;
    font-size: 2.5rem;
    color: var(--color-font-numbers-dark);
    border: 1px var(--color-font-numbers-dark) solid;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    grid-area: three;
    grid-row: 5;
    grid-column: 3;
    background-color: var(--color-bg-light-numbers);
    margin: 0;
}

.zero {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: stretch;
    font-size: 2.5rem;
    color: var(--color-font-numbers-dark);
    border: 1px var(--color-font-numbers-dark) solid;
    justify-content: center;
    align-self: center;
    text-align: center;
    grid-area: zero;
    grid-row: 6;
    grid-column: 1 / span 2;
    background-color: var(--color-bg-light-numbers);
    margin: 0;
    border-radius: 0 0 0 2rem;
}

.decimal {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: stretch;
    font-size: 2.5rem;
    color: var(--color-font-numbers-dark);
    border: 1px var(--color-font-numbers-dark) solid;
    justify-content: center;
    align-self: center;
    text-align: center;
    grid-area: decimal;
    grid-row: 6;
    grid-column: 3 / 3;
    background-color: var(--color-bg-light-numbers);
    margin: 0;
}

.zero,
.equals,
.decimal {
    justify-items: center;
    align-items: center;

}

.numbers {
    background-color: var(--color-bg-light-numbers);
}

.numbers:hover {
    background-color: var(--color-bg-darker-numbers);
}

.operator {
    background-color: var(--color-bg-light-operators);
}

.equals {
    background-color: var(--color-bg-light-operators);
}

.operator:hover {
    background-color: var(--color-bg-darker-operators);
}