* {
    box-sizing: border-box;
}

body {

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    font-size: 16px;
    background-color: hsl(229, 30%, 90%);
}

h1 {
    font-size: 2rem;
    font-weight: 800;
    letter-spacing: 130%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Contrast Ratio: 4.72:1, AAA approved for large text */
    background-color: #979DC4;
    color: #303055;
    width: 100%;
    padding: 2rem;
    margin: 0;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 100vh;
}

.container {
    display: flex;
    min-width: 90vw;
    margin-top: -7%;
}

.panel {
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 70vh;
    border-radius: 2.5rem;
    color: #fff;
    cursor: pointer;
    margin: 10px;
    flex: 0.5;
    position: relative;
    overflow: hidden;
    justify-content: flex-start;
    transition: flex 0.7s ease-in-out;
}

/* ajuste a responsividade antes de programar JS */

.panel h3 {

    position: absolute;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 130%;
    bottom: 2rem;
    left: 30%;
    margin: 0;
    opacity: 0;
}

.panel.active {
    flex: 5;
}

.panel.active h3 {
    opacity: 1;
    left: 10%;
    transition: opacity 0.3s ease-in 0.4s;
}

.bg2 {
    background: url("/Personal-Projects/Expanding Cards (fix design)/bg2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.bg3 {
    background: url("/Personal-Projects/Expanding Cards (fix design)/bg3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.bg4 {
    background: url("/Personal-Projects/Expanding Cards (fix design)/bg4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.bg5 {
    background: url("/Personal-Projects/Expanding Cards (fix design)/bg5.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.bg6 {
    background: url("/Personal-Projects/Expanding Cards (fix design)/bg6.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

@media(max-width: 550px) {
    .container {
        width: 100vw;
    }

    .panel:nth-of-type(4),
    .panel:nth-of-type(5) {
        display: none;
    }
}