@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&family=Raleway:wght@300;400;500;600;700;800;900&family=Roboto:wght@400;500;700;900&display=swap');

:root {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 400;
    --primary-color: hsl(250, 30%, 60%);
    --secondary-color: hsl(0, 30%, 84%);
    --primary-light-color: hsl(250, 30%, 95%);
    /* --secondary-light-color: #f6bcdd; */
    --primary-dark-color: hsl(250, 20%, 25%);
    /* --secondary-dark-color: #4d1936; */
    --cta-color: #0ea472;
    --warning-color: #f8bc54;
    --danger-color: #f43e5c;
    --light-base-color: #fff;
    --light-base-color-2: #e4e4e4;
    --light-base-color-3: #f7f7f7;
    --gray-base-color: #999999;
    --dark-base-color: #18181B;
    --dark-base-color-2: #333;
    --dark-base-color-3: #222;
    --line-border-fill: #eee;
    --line-border-empty: #e0e0e0;
}


/* Some default styles I made to use often */
/* Buttons */

body {
    background-color: var(--light-base-color-2);
    color: var(--light-base-color);
    margin: 0;
    width: 100vw;
    overflow-x: hidden;

}

.btn {
    /* regular button */
    font-family: inherit;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 24px 64px;
    /* resize the button here, in case you need */
    width: 120px;
    cursor: pointer;
    border: 1px solid #eee;
    border-radius: 2px;
}

.a-btn {
    /* when btn is active */
    background-color: var(--primary-color);
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
    color: var(--light-base-color);
}

.i-btn {
    /* when btn is inactive */
    background-color: var(--light-base-color-2);
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
    color: var(--dark-base-color);
}

/* Lighter effect when hover the buttons */
.btn:hover {
    filter: brightness(107%);
}

.btn:active {
    filter: brightness(125%);
}

.btn:disabled {
    background-color: var(--light-base-color-2);
    color: var(--gray-base-color);
    cursor: not-allowed;
}

/* Use the classes sm md or lg for small medium or large buttons, and resize them bellow */
.btn.sm {
    width: 120px;
    height: 44px;
}

.btn.md {
    width: 180px;
    height: 52px;
}

.btn.lg {
    width: 300px;
    height: 52px;
}

/* 8px rounded corners */
.btn.rounded {
    border-radius: 0.5rem;
}

/* round corners */
.btn.round {
    border-radius: 10rem;
}

/* outline with primary color */
.btn.outlined {
    background-color: transparent;
    border: 1px solid var(--primary-dark-color);
}

* {
    box-sizing: border-box;
}

/* HERE STARTS THE CUSTOM CSS */
.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: auto;

}

.title-group {
    background-color: var(--primary-dark-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 100vw;
    height: 100%;
    margin: 0;
    padding: 2rem;
    flex-direction: column;
    margin-bottom: 5rem;
}

.content {
    color: var(--primary-light-color);
    width: 25rem;
    height: 22rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    border: 3px solid var(--primary-dark-color);
    border-radius: 8px;
    margin: 10px 0;
    padding: 2rem;
    margin-bottom: -10.5rem;
    transition: 200ms ease-in-out;
    flex-direction: column;
    transform: translateX(400%);
    transition: transform 0.8s ease-in-out;
}

.content.show {
    transform: translateX(0);
}

.content:nth-of-type(even) {
    transform: translateX(-400%);

}

.content-group {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
}

.content:hover {
    background-color: var(--dark-base-color);
    border: 3px dashed var(--primary-dark-color);
}

.btn1,
.btn2 {
    margin: 0.7rem auto;
    transition: 200ms ease-in-out;
    background-color: var(--secondary-color);
    color: var(--primary-dark-color);
    border: 1px solid var(--primary-dark-color);
}

.btn2:hover {
    background-color: var(--secondary-color);
    color: var(--primary-dark-color);
    border: 1px solid var(--primary-dark-color);
}

.btn1:hover {
    background-color: var(--secondary-color);
    color: var(--primary-dark-color);
    border: 1px solid var(--primary-dark-color);
}

h1 {
    font-size: 4rem;
    margin: 0;
}

h4 {
    font-size: 2rem;
    margin: 0;
}

p {
    font-size: 1.5rem;
    margin: 2rem 0 0;
}

small {
    font-size: 0.8rem;
    margin: 0rem;
}