@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&family=Raleway:wght@300;400;500;600;700;800;900&family=Roboto:wght@400;500;700;900&display=swap');

:root {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 400;
    --primary-color: #8f4015;
    --secondary-color: #555048;
    --primary-light-color: #c9b7a8;
    --dark-color-1: #111827;
    --dark-color-2: #374151;
    --gray-color-2: #d1d5db;
    --info-color-dark: #1e3a8a;
    --info-color: #3b82f6;
    --info-color-light: #dbeafe;
    --cta-color-dark: #064e3b;
    --cta-color: #10b981;
    --cta-color-light: #d1fae5;
    --warning-color: #fbbf24;
    --danger-color: #ef4444;
    --light-base-color: #fff;
    --light-base-color-2: #DCDADD;
    --light-base-color-3: #f7f7f7;
    --gray-base-color: #6b7280;
    --dark-base-color: #111827;
    --dark-base-color-2: #555;
    --dark-base-color-3: #333;
    --line-border-fill: #8f4015;
    --background-1: #e8b284;
    --background-1: #c9b7a8;
    --line-border-empty: transparent;
}


/* Some default styles I made to use often */
/* Buttons */
.btn {
    /* regular button */
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 8px 30px; */
    /* resize the button here, in case you need */
    height: 48px;
    width: 80px;
    cursor: pointer;
    /* transition: opacity 0.3s ease 0s, background-color 0.3s ease 0s, color 0.3s ease 0s, box-shadow 0.3s ease 0s, background 0.3s ease 0s; */
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px inset; */
    border-radius: 4px;
}

.a-btn {
    /* when btn is active */
    background-color: var(--primary-color);
    /* background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05)); */
    color: var(--light-base-color);
    font-weight: 600;
    border: 0;
}

.i-btn {
    /* when btn is inactive */
    background-color: var(--light-base-color-2);
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
    color: var(--dark-base-color);
}

/* Lighter effeft when hover the buttons */
.btn:hover {
    filter: brightness(107%);
}

.btn:active {
    filter: brightness(125%);
}

.btn:disabled {
    background-color: var(--light-base-color-2);
    color: var(--gray-base-color);
    cursor: not-allowed;
}

/* Use the classes sm md or lg for small medium or large buttons, and resize them bellow */
.btn.sm {
    padding: 8px 24px;
    font-size: 14px;

}

.btn.md {
    padding: 12px 80px;
    font-size: 16px;
}

.btn.lg {
    padding: 16px 140px;
    font-size: 18px;
}

.btn.btn-block {
    padding: 16px 100%;
    font-size: 18px;
}

/* 8px rounded corners */
.btn.rounded {
    border-radius: 0.5rem;
}

/* round corners */
.btn.round {
    border-radius: 10rem;
}

/* outline with primary color */
.btn.outlined {
    background-color: transparent;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background-image: none;


}

* {
    box-sizing: border-box;
}

/* HERE STARTS THE CUSTOM CSS */

.list-form {
    display: flex;
    /* justify-content: last baseline; */
    justify-content: center;
    height: auto;
    margin: 0;
}

.list-form input {
    height: 48px;
    width: 300px;
    margin-top: 8px;
    background-color: var(--light-base-color-3);
    border: 1px solid var(--gray-color-2);
    border-radius: 4px;
}

#form-field-name,
#form-field-price {
    padding-left: 16px;
}

.field-name,
.field-price,
.submit-form {

    display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: center;
    align-self: flex-end;
    padding: 8px;
    border-radius: 4px;
}

h1 {
    color: var(--background-1);
    font-size: 3rem;
    margin: 0;
}

h2 {
    color: var(--light-base-color);
    font-size: 2rem;
    margin: 0;
    margin-bottom: 3rem;
}

p,
span {
    color: var(--dark-base-color-3);
}

body {
    background-color: #fff;
    /* padding: 1rem; */
    margin: 0;
    min-height: 100vh;
    overflow: hidden;
}

header {
    background-color: var(--secondary-color);
    padding: 20px 0;
    text-align: center;
    margin: 0;
    margin-bottom: 3rem;
}

hr {
    border: 12px solid var(--line-border-fill);
}

.single-products-list {
    padding: 10px 0;
    border-bottom: 1px dashed var(--dark-base-color-2);
    display: flex;
}

main {
    padding: 3rem;
    min-height: 56vh;
    width: 100%;
}

.products-list {
    margin-top: 3rem;
}

.single-products-list h3 {
    flex: 1;
    text-align: flex-start;
    padding: 0 20px;
}

.product-price {
    text-align: right;
    font-size: 1rem;

}

.product-price>span {
    background-color: var(--warning-color);
    padding: 8px 12px;
    border-radius: 8px;
}

.total-product-sum {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 1.5rem;
}

.total-sum {
    color: var(--dark-base-color);
    font-weight: 800;
}

.total-price {
    color: var(--cta-color);
    border-radius: 8px;
    padding: 8px 16px;
    background-color: var(--cta-color-light);

}

footer {
    padding: 2rem;
    display: block;
    position: sticky;
    bottom: 0;
    left: 0;
    background-color: var(--secondary-color);
    color: var(--primary-light-color);
    text-align: center;
}

a {
    text-decoration: none;
    color: var(--light-base-color);
    margin: 0 8px;
}

.copyright span {
    margin: 0 14px;
    color: var(--primary-light-color);
}