* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.calc {
    width: 400px;
    background-color: #000;
    color: #fff;
    margin: auto;
    margin-top: 20vh;
}

.screen {
    font-size: 40px;
    font-family: 'courier new', 'Courier New', Courier, monospace;
    text-align: right;
    padding: 20px 5px;
}

.calc-button {
    background-color: #d8d9db;
    color: #000;
    height: 100px;
    width: 24.5%;
    border: 0;
    border-radius: 0;
    font-size: 40px;
    cursor: pointer;
}

.calc-button:hover {
    background-color: #ebebeb;
}

.calc-button:active {
    background-color: #bbbcbe;
}

.calc-button:last-child {
    background-color: #DF974C;
}

.calc-button:last-child:hover {
    background-color: #ffbd77;
}

.calc-button:last-child:active {
    background-color: #dd8d37;
}

.double {
    width: 49.7%;
}

.triple {
    width: 74.8%;
}

.calc-row {
    display: flex;
    align-content: stretch;
    justify-content: space-between;
    margin-bottom: 0.5%;
}